.triangle_down1 {
    position: relative;
    top: -2px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 0.2em solid #a7a7a7;
    border-top: 0.2em solid #a7a7a7;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
    color: #a7a7a7;
}

.logo {
    color: #a7a7a7;
    margin-top: 10px;
}

.logo .logo__icon {
    margin-right: 25px;
    position: relative;
    width: max-content;
    height: max-content;
    display: inline-block;
}

.logo .logo__icon .red-block{
    top: -15px;
    position: absolute;
    left: 10px;
}

.modal-info__section {
    flex-basis: 100%;
    margin-bottom: 18px;
}

.modal-info__section:last-child {
    margin-bottom: 0;
}

.modal-info__section p {
    font-size: 14px;
    color: #cc6666;
}

.modal-info__section .buttons-block {
    display: flex;
    padding-top: 60px;
    width: 100%;
    justify-content: space-between;
}

.modal-info__params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #232528;
    padding-top: 28px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.modal-info__params-title {
    margin-bottom: 0;
    flex-basis: 100%;
    font-size: 30px;
    font-weight: 700;
}

.modal-info__params-text {
    margin-bottom: 43px;
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.modal-info__params-item {
    flex-basis: 43%;
}

@media (max-width: 768px) {
    .modal-info__params-item {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

.modal-info__params-title {
    margin-bottom: 0px;
    flex-basis: 100%;
    font-size: 36px;
    font-weight: 700;
}
.modal-info__section .info-item {
    margin-bottom: 14px;
    border-color: #f7d0d2;
    color: #999999;
    text-decoration: none;
    text-transform: inherit;
    font-size: 16px;
    font-weight: 100;
    width: max-content;
    margin-right: 20px;
}

.modal-request__section#cost {
    flex-direction: row;
}

.modal-request__section#cost .modal-request__limit {
    flex: 1.5;
}

.modal-request__details-action {
    height: 28px;
    margin-top: 10px;
}

.modal-info__section .buttons-block__wrap {
    display: flex;
}

.modal-info__section .buttons-block__wrap .btn {
    background-color: #F9FAFB;
}

.modal-info__section .buttons-block__wrap #active {
    background-color: #FFFFFF;
    font-size: 17px;
}

.modal-info__section .two-buttons-wrap {
    display: flex;
}

a.btn--white {
    padding-left: 30px;
    padding-right: 10px;
}

.modal-info__section .buttons-block button {
    width: 245px;
    z-index: 999;
}

.modal-info__section .buttons-block .icon {
    vertical-align: middle;
    border-style: none;
    margin-left: 20px;
}

.modal-profile__section:last-child {
    margin-bottom: 0;
    z-index: 99;
    padding-top: 0;
    overflow-x: hidden;
}

.modal-profile__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-profile__params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #232528;
    padding-top: 28px;
    padding-bottom: 40px;
    padding-left: 28px;
    padding-right: 28px;
}

.modal-profile__section {
    flex-basis: 100%;
}

.modal-profile__params-title {
    margin-bottom: 40px;
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.modal-profile__params-title_employee {
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.modal-profile__params-subtitle {
    flex-basis: 100%;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 30px;
    font-style: italic;
    color: #b0b0b0;
}

.modal-profile__contacts-inner {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    flex-direction: column;
}

.modal-profile__contacts-inner_employee {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    flex-direction: column;
}

.modal-profile__contacts-inner_address {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    flex-direction: column;
}

.modal-profile__contacts-inner_bank {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    flex-direction: column;
}

.modal-profile__contacts-inner .inner_wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.modal-profile__add-button {
    font-size: 14px;
    color: #009966;
    text-decoration: none;
}

.modal-profile__add-button:hover {
    font-size: 14px;
    color: #009966;
}

.modal-profile__contacts-item {
    flex: 1;
    z-index: 99;
    margin-right: 15px;
}

.modal-profile__contacts-item_employee-name {
    flex: 1.5;
}

.modal-profile__contacts-item_index {
    flex: 0.6;
}

.modal-profile__contacts-inner_address .modal-profile__contacts-item_region {
    flex: 1.2;
}

.modal-profile__contacts-inner_address .modal-profile__contacts-item_street {
    flex: 3.5;
}

.modal-profile__contacts-inner_address .modal-profile__contacts-item_office {
    flex: 1.7;
}

.modal-profile__contacts-item-files {
    display: flex;
    margin: 0 20px;
}

.modal-profile__contacts-item .input {
    font-size: 16px;
    font-style: italic;
    line-height: 58px;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    color: #7f9093;
    border: 1px solid #dde0e2;
    border-radius: 30px;
    background-color: #f1f4f6;
}

.modal-profile__contacts-item .button {
    background-color: transparent;
    border: 2px dashed black;
    padding: 10px 20px;
    border-radius: 35px;
}

.modal-profile__contacts-item .file {
}

.modal-profile__contacts-item .file .filename {
    font-size: 14px;
    color: #009966;
    line-height: 1.5;
    margin-right: 15px;
    overflow: hidden;
}

.modal-profile__contacts-item .button .img{
    width: 30px;
    margin-left: 15px;
}

.wrapper {
    overflow: hidden;
    margin: auto;
    max-width: 1270px;
}

.thirdTab__subtitle {
    width: 670px;
    height: 45px;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}

.thirdTab__title {
    margin-bottom: 20px;
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.thirdTab__textarea {
    resize: none;
    height: 150px !important;
    margin-top: 55px;
}

@media (max-width: 1170px) {
    .modal-info__section .buttons-block__wrap {
        margin: auto;
    }

    .modal-info__section .buttons-block {
        flex-wrap: wrap;
    }

    .modal-info__section .buttons-block button {
        margin: auto;
    }
}

@media (max-width: 940px) {
    .modal-info__section .buttons-block__wrap {
        flex-direction: column;
        width: 100%;
    }

    .modal-info__section .info-item {
        width: 100%;
        font-size: 20px;
    }

    .modal-info__section .buttons-block button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .modal-info__params-title {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .modal-request__details {
        margin-right: 0;
    }
    .modal-info__params-text {
        margin-bottom: 25px;
    }
}

@media (max-width: 690px) {
    .modal-info__section .buttons-block__wrap {
        width: 100%;
    }

    .modal-info__section .two-buttons-wrap {
        flex-direction: column;
        width: 100%;
    }

    .modal-info__section .info-item {
        width: 100%;
        font-size: 20px;
    }

    .modal-info__section .buttons-block button {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .modal-info__params-title {
        font-size: 22px;
        margin-bottom: 25px;
    }
}

@media (max-width: 410px) {
    .modal-profile__contacts-inner .inner_wrap {
        flex-direction: column;
    }

    .modal-profile__contacts-item {
        margin: 0;
        padding-top: 20px;
    }

    .modal-profile__contacts-inner .inner_wrap {
        margin-bottom: 0;
    }

    .modal-profile__add-button {
        margin-top: 40px;
        margin-left: 20px;
    }

    .modal-profile__contacts-item {
        flex: auto;
    }

    .modal-profile__contacts-item .file {
        margin-left: 5px;
    }
}


