@media (max-width: 575.98px) {
    .main-video__img {
        height: 500px;
        opacity: 0.7;
    }
}
.main-video__btn {
    position: absolute;
    z-index: 3;
    top: 265px;
    left: 65px;
}
@media (max-width: 767.98px) {
    .main-video__btn {
        top: 300px;
        left: 20px;
    }
}

.video-btn {
    position: relative;

    width: 280px;
    height: 280px;
    padding-top: 110px;
    padding-left: 110px;

    background: url('../img/design/ico/video-btn-bg.svg') center no-repeat;
}
@media (max-width: 767.98px) {
    .video-btn {
        width: 160px;
        height: 160px;
        padding-top: 50px;
        padding-left: 50px;

        background-size: cover;
    }
}
.video-btn__play {
    display: block;

    width: 60px;
    height: 60px;

    transition: .3s;

    border-radius: 50%;
    background: url('../img/design/ico/play.svg') center no-repeat rgba(0, 0, 0, .45);
    box-shadow: 0 15px 30px rgba(42, 20, 19, .1);
}
.video-btn__play:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.video-btn__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;

    position: absolute;
    top: 128px;
    left: 185px;

    white-space: nowrap;

    color: #fff;
}
@media (max-width: 991.98px) {
    .video-btn__title {
        display: none;
    }
}

.main-title {
    font-family: "GothamPro";
    font-size: 64px;
    font-weight: 900;

    margin-bottom: 14px;

    white-space: nowrap;

    color: #232528;
}
@media (max-width: 1199.98px) {
    .main-title {
        line-height: 1;

        margin-bottom: 30px;

        white-space: normal;
    }
}
@media (max-width: 991.98px) {
    .main-title {
        font-size: 50px;
    }
}
.main-title span {
    color: #ea5351;
}
@media (max-width: 1199.98px) {
    .main-title span {
        display: block;
    }
}

.main-description {
    font-family: 'GothamPro';
    font-size: 46px;
    font-weight: 300;
    line-height: 1;

    margin-bottom: 77px;

    color: #232528;
}
@media (max-width: 767.98px) {
    .main-description {
        margin-bottom: 45px;
    }
}
.main-description span {
    display: block;

    margin-bottom: -30px;
}
@media (max-width: 1199.98px) {
    .main-description span {
        font-size: 45px;
    }
}
@media (max-width: 991.98px) {
    .main-description span {
        font-size: 30px;
    }
}
.main-description small {
    font-size: 22px;
    line-height: 1;
    font-weight: 400;

    display: block;
}
@media (max-width: 1199.98px) {
    .main-description small {
        font-size: 20px;
    }
}
@media (max-width: 991.98px) {
    .main-description small {
        font-size: 18px;
    }
}

.main-info {
    margin-top: 40px;
    margin-bottom: 28px;
    color: #232528;
    font-family: "GothamPro";
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}
.main-info b {
    font-weight: 900;
}

.main-about {
    position: relative;
    z-index: 3;

    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}
@media (max-width: 991.98px) {
    .main-about {
        margin-bottom: 100px;
    }
}
@media (max-width: 767.98px) {
    .main-about {
        flex-direction: column;

        margin-bottom: 50px;
    }
}

.main-about-item {
    margin-right: 15px;
    flex-basis: 25%;
}
@media (max-width: 991.98px) {
    .main-about-item {
        margin-right: 30px;
    }
}
@media (max-width: 767.98px) {
    .main-about-item {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .main-about-item:last-of-type {
        margin-bottom: 0;
    }
}
.main-about-item:last-of-type {
    margin-right: 0;
}
.main-about-item__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    margin-bottom: 15px;

    color: #232528;
}
@media (max-width: 767.98px) {
    .main-about-item__title {
        margin-bottom: 5px;
    }
}
@media (max-width: 767.98px) {
    .main-about-item__title br {
        display: none;
    }
}
.main-about-item__info {
    font-size: 36px;
    font-weight: 900;
    line-height: 24px;

    color: #ea5351;
}
@media (max-width: 1199.98px) {
    .main-about-item__info {
        font-size: 30px;
    }
}

.main-form {
    position: relative;
    z-index: 1;

    width: 620px;
}
@media (max-width: 575.98px) {
    .main-form--lg {
        display: none;
    }
}
.main-form--xs {
    display: none;
}
@media (max-width: 575.98px) {
    .main-form--xs {
        display: block;

        padding: 0 15px;
    }
}
@media (max-width: 767.98px) {
    .main-form {
        width: 510px;
    }
}
@media (max-width: 575.98px) {
    .main-form {
        width: 100%;
    }
}
.main-form:before {
    position: absolute;
    z-index: 1;
    top: -23px;
    right: 0;

    /*content: url('../img/design/ico/mouse.png');*/
}
@media (max-width: 575.98px) {
    .main-form:before {
        display: none;
    }
}
.main-form__input {
    position: relative;
    z-index: 2;
}
@media (max-width: 575.98px) {
    .main-form__input {
        margin-bottom: 10px;
    }
}
.main-form__input label {
    width: 100%;
}
.main-form__input input {
    font-size: 18px;
    font-style: italic;
    line-height: 58px;

    width: 100%;
    height: 60px;
    padding-right: 280px;
    padding-left: 41px;

    color: #7f9093;
    border: 1px solid #dde0e2;
    border-radius: 30px;
    background-color: #f1f4f6;
    opacity: 3;
}
@media (max-width: 575.98px) {
    .main-form__input input {
        font-size: 16px;

        padding: 0 15px;
    }
}
.main-form__action {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
@media (max-width: 575.98px) {
    .main-form__action {
        position: static;
    }
}
@media (max-width: 575.98px) {
    .main-form__action {
        text-align: center;
    }
}
.main-form__action .btn {
    width: 263px;
    height: 60px;

    border-radius: 30px;
}
@media (max-width: 575.98px) {
    .main-form__action .btn {
        width: 100%;
    }
}

.section-slogan {
    margin-bottom: 30px;
    color: #ea5351;
    font-family: "GothamPro";
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
}
.section-header--calc {
    margin-bottom: 30px;
}
.form-calc {
    padding: 38px 50px;
    box-shadow: 0 15px 30px rgba(34, 42, 52, 0.1);
    border-radius: 30px;
    background-color: #ffffff;
}
@media (max-width: 557px) {
    .form-calc {
        padding: 10px 30px;
    }
}
.calc .section-info {
    margin-bottom: 30px;
    color: #232528;
    font-family: "GothamPro";
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.section-info small {
    display: block;
    font-size: 17px;
    margin-top: 15px;
}
.form-calc .section-info b {
    font-weight: 900;
}
.form-calc .form-field {
    margin-right: 10px;
}
.form-field__name {
    color: #232528;
    font-family: "GothamPro";
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
}
.form-calc label {
    margin: 0;
}
.calc__input {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .calc__input {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.calc__address {
    flex-basis: 54%;
}
@media (max-width: 991px) {
    .calc__address {
        flex-basis: 100%;
    }
}
.calc-rooms {
    display: flex;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
@media (max-width: 400px) {
    .form-field--rooms {
        flex-basis: 100%;
    }
}
.calc-rooms li {
    flex-basis: 25%;
    text-align: center;
}
.calc-rooms input {
    display: none;
}
.calc__radio:checked ~ label {
    background-color: #ea5351;
    color: #ffffff;
}
.calc-rooms label {
    display: block;
    padding-right: 28px;
    padding-left: 27px;
    color: #232528;
    font-family: "GothamPro";
    font-size: 15px;
    font-weight: 400;
    line-height: 58px;
    font-style: normal;
    cursor: pointer;
}
@media (max-width: 400px) {
    .calc-rooms label {
        padding: 0;
    }
}
.calc__output {
    display: flex;
    height: auto;
    margin-bottom: 25px;
    line-height: normal;
    padding: 20px 24px;
    color: #232528;
    font-family: "GothamPro";
    font-style: normal;
}
@media (max-width: 991px) {
    .calc__output {
        flex-wrap: wrap;
    }
}
.calc-out__section {
    flex-basis: 33%;
    flex-grow: 1;
    border-right: 1px solid #dde0e2;
}
@media (max-width: 991px) {
    .calc-out__section {
        flex-basis: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
        border-right: none;
        border-bottom: 1px solid #dde0e2;
    }
}
.calc-out__section:last-child {
    border-right: none;
}
.calc__square {
    flex-basis: 12%;
}
@media (max-width: 991px) {
    .calc__square {
        flex-basis: 30%;
    }
}
@media (max-width: 576px) {
    .calc__square {
        flex-basis: 100%;
    }
}
.calc__square .input {
    padding: 0 15px;
}
.calc-price__name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 12px;
    /*    font-family: "Rubl Sign";
        font-size: 36px;
        font-weight: 400;
    */}
.calc-price__value {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
}
@media (max-width: 450px) {
    .calc-price__value {
        font-size: 20px;
    }
}
.calc-price__note {
    color: #7cb82d;
    font-family: "GothamPro";
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
}
.calc-out__loan {
    padding-left: 30px;
    color: #232528;
    font-family: "GothamPro";
    font-size: 15px;
    font-weight: 400;
}
@media (max-width: 991px) {
    .calc-out__loan {
        padding-left: 0;
    }
}
.calc-loan__name {
    font-weight: 700;
    margin-bottom: 12px;
}
.calc-loan__value {
    font-family: "GothamPro";
    font-size: 18px;
    font-weight: 900;
}
.calc-loan__value span {
    font-family: "GothamPro";
    font-size: 36px;
    font-weight: 900;
}
@media (max-width: 450px) {
    .calc-loan__value span {
        font-size: 22px;
    }
}
.calc-out__range {
    padding-left: 30px;
    color: #232528;
    font-family: "GothamPro";
}
@media (max-width: 991px) {
    .calc-out__range {
        padding-left: 0;
    }
}
.calc-range__name {
    font-size: 15px;
    font-weight: 400;
}
.calc-range__value {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 900;
}
.calc__action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc__action .btn {
    padding-left: 50px;
    padding-right: 50px;
}
.section-header--mortgage {
    margin-bottom: 55px;
}
/*.mortgage-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
*/
/*.section-header--mortgage {
    flex-basis: 100%;
}
*/
.mortgage__content {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .mortgage__content {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.mortgage__item {
    display: flex;
    flex-direction: column;
    flex-basis: 31.5%;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 10px;
    padding-top: 48px;
    padding-bottom: 42px;
    border-radius: 30px;
    background-color: #f1f4f6;
}
@media (max-width: 480px) {
    .mortgage__item {
        flex-basis: 100%;
    }
}
.mortgage__icon {
    margin-bottom: 30px;
    min-height: 100px;
    background-repeat: no-repeat;
}
.mortgage__icon--apartment {
    width: 94px;
    height: 94px;
    background-image: url("../img/design/ico/apartment.png");
}
.mortgage__icon--part {
    width: 77px;
    height: 77px;
    background-image: url("../img/design/ico/part.png");
}
.mortgage__icon--room {
    width: 77px;
    height: 76px;
    background-image: url("../img/design/ico/room.png");
}
.mortgage__icon--cottage {
    width: 94px;
    height: 80px;
    background-image: url("../img/design/ico/cottage.png");
}
.mortgage__icon--house {
    width: 87px;
    height: 87px;
    background-image: url("../img/design/ico/house.png");
}
.mortgage__icon--townhouse {
    width: 93px;
    height: 66px;
    background-image: url("../img/design/ico/townhouse.png");
}
.mortgage__icon--office {
    height: 88px;
    width: 88px;
    background-image: url("../img/design/ico/office.png");
}
.mortgage__icon--commerce {
    width: 82px;
    height: 88px;
    background-image: url("../img/design/ico/commerce.png");
}
.mortgage__icon--factory {
    width: 94px;
    height: 94px;
    background-image: url("../img/design/ico/factory.png");
}
.mortgage__text {
    color: #232528;
    font-family: "GothamPro";
    font-size: 15px;
    font-weight: 900;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
}
.map .section-header {
    position: relative;
}
.map .section-header__bg {
    font-size: 150px;
    font-weight: 900;
    line-height: .08;
    position: absolute;
    z-index: -1;
    top: -48px;
    right: 600px;
    color: #f1f4f6;
}
@media (max-width: 1199.98px) {
    .map .section-header__bg {
        font-size: 200px;
        top: -40px;
        right: 180px;
    }
}
@media (max-width: 991.98px) {
    .map .section-header__bg {
        font-size: 180px;
        top: -30px;
        right: 50px;
    }
}
@media (max-width: 767.98px) {
    .map .section-header__bg {
        display: none;
    }
}
.map .section-info {
    margin-bottom: 15px;
    color: #232528;
    font-family: "GothamPro";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.section-info small {
    display: block;
    font-size: 17px;
    margin-top: 15px;
}
.map-img-wrapper {
    position: relative;
}
.map-img {
    width: 100%;
    height: 600px;
}
.map-img img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.map-mark {
    position: absolute;
    width: 335px;
    height: 335px;
    background-color: #ea5351;
    opacity: 0.4;
    border-radius: 50%;
    top:63px;
    left: 50%;
    transform: translateX(-50%);
}
.map-form {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 50%;
    padding: 30px 49px;
    transform: translateX(-50%);
    box-shadow: 0 15px 30px rgba(34, 42, 52, 0.1);
    border-radius: 30px;
    background-color: #ffffff;
}
@media (max-width: 991px) {
    .map-form {
        position: static;
        flex-wrap: wrap;
        transform: none;
    }
}
@media (max-width: 576px) {
    .map-form {
        padding: 10px 15px;
        justify-content: center;
    }
}
.map-form .form-field,
.map-action {
    flex-basis: 25%;
}
@media (max-width: 991px) {
    .map-form .form-field,
    .map-action {
        flex-basis: 100%;
    }
}

.faq {
    padding-bottom: 87px;
}
.faq .section-header {
    margin-bottom: 35px;
}

.faq-item {
    position: relative;

    border-bottom: 1px solid #dde0e2;
}
.faq-item.active .faq-item__title:before {
    display: none;
}
.faq-item.active .faq-item__content {
    display: block;
}
.faq-item:first-of-type {
    border-top: 1px solid #dde0e2;
}
.faq-item__title {
    font-size: 20px;
    font-weight: 400;

    padding: 13px 50px 13px 21px;

    cursor: pointer;

    color: #232528;
}
.faq-item__title:after {
    position: absolute;
    top: 25px;
    right: 20px;

    width: 20px;
    height: 2px;

    content: '';

    background: #ea5351;
}
.faq-item__title:before {
    position: absolute;
    top: 16px;
    right: 29px;

    width: 2px;
    height: 20px;

    content: '';

    background: #ea5351;
}
.faq-item__content {
    display: none;

    padding-bottom: 18px;
    padding-left: 50px;
}
.faq-item__content p {
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 10px;

    color: #232528;
}
.faq-item__content p:last-of-type {
    margin-bottom: 0;
}

.blog {
    overflow: hidden;

    background: #f1f4f6;

    padding: 160px 120px;
}
@media (max-width: 767.98px) {
    .blog {
        padding: 50px 0;
    }
}

.blog-slider-item {
    display: block;

    margin-bottom: 30px;
    padding-bottom: 41px;

    border-radius: 30px;
    background-color: #fff;
}
.blog-slider-item:hover .blog-slider-item__title {
    text-decoration: none;
}
.blog-slider-item__img {
    height: 167px;
    margin-bottom: 22px;
    overflow-y: hidden;
}
.blog-slider-item__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.44;

    margin-bottom: 22px;
    padding: 0 30px;

    text-decoration: underline;

    color: #232528;
}
.blog-slider-item__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 30px;
    color: #41525c;
    height: 145px;
    overflow-y: hidden;
}
.blog-slider-item__date {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;

    position: absolute;
    top: 20px;
    left: 20px;

    height: 28px;
    padding: 0 16px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 14px;
    background-color: #ea5351;
}

.blog-more {
    display: none;

    text-align: center;
}
@media (max-width: 767.98px) {
    .blog-more {
        display: block;
    }
}
.blog-more a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;

    display: inline-block;

    margin-top: 25px;

    text-decoration: underline;
    text-transform: uppercase;

    color: #ea5351;
}
.blog-more a:hover {
    text-decoration: none;
}

.owl-dots {
    display: flex;

    padding-top: 8px;

    justify-content: center;
}
.owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    margin: 0 10px;

    border-radius: 50%;
    background-color: #c7ced3;
}
.owl-dots button.owl-dot:focus,
.owl-dots button.owl-dot:active {
    outline: none;
}
.owl-dots button.owl-dot.active {
    background-color: #ea5351;
}

@media (max-width: 1199.98px) {
    .owl-nav {
        display: none;
    }
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 50%;

    width: 33px;
    height: 24px;

    transition: .3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    opacity: .3;
    background: url('../img/design/ico/left-arrow.svg') center no-repeat;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    opacity: 1;
}

.owl-nav .owl-prev {
    left: -50px;
}

.owl-nav .owl-next {
    right: -50px;

    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.reviews {
    position: relative;

    padding-top: 112px;
    padding-bottom: 5px;
}
@media (max-width: 767.98px) {
    .reviews {
        padding-top: 25px;
    }
}
.reviews__bg {
    font-size: 250px;
    font-weight: 900;

    position: absolute;
    top: -330px;
    left: 375px;

    color: #f1f4f6;
}
@media (max-width: 1199.98px) {
    .reviews__bg {
        font-size: 200px;

        top: -250px;
        left: 160px;
    }
}
@media (max-width: 767.98px) {
    .reviews__bg {
        display: none;
    }
}
.reviews .container {
    position: relative;
}
.reviews .container:before {
    position: absolute;
    bottom: -100px;
    left: -260px;

    content: url('../img/design/elements/reviews-element.svg');
}

.reviews-slider .owl-dots {
    padding-top: 56px;
}

.reviews-slider-item {
    display: flex;

    height: 365px;
    padding: 23px 30px 30px;

    border: 1px solid rgba(34, 42, 52, .03);
    border-radius: 30px;
    background-color: #fff;
}
@media (max-width: 1199.98px) {
    .reviews-slider-item {
        flex-direction: column;

        height: auto;
    }
}
.reviews-slider-item__img {
    margin-right: 25px;
}
@media (max-width: 991.98px) {
    .reviews-slider-item__img {
        margin-right: 0;
    }
}
.reviews-slider-item__text {
    padding-top: 18px;
}

.reviews-slider-item-img {
    position: relative;

    width: 130px;
    height: 130px;
    padding: 10px;

    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(42, 20, 19, .1);
}
@media (max-width: 991.98px) {
    .reviews-slider-item-img {
        margin: 0 auto 45px;
    }
}
.reviews-slider-item-img:after {
    position: absolute;
    bottom: -25px;
    left: 50%;

    content: url('../img/design/ico/quote.svg');
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.reviews-slider-item-img img {
    width: 100%;
}

.reviews-slider-item-text__title {
    font-size: 22px;
    font-weight: 900;

    margin-bottom: -1px;

    color: #232528;
}
@media (max-width: 991.98px) {
    .reviews-slider-item-text__title {
        text-align: center;
    }
}

.reviews-slider-item-text__from {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;

    margin-bottom: 9px;

    color: #41525c;
}
@media (max-width: 991.98px) {
    .reviews-slider-item-text__from {
        text-align: center;
    }
}

.reviews-slider-item-text__quote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;

    color: #42525d;
}
@media (max-width: 991.98px) {
    .reviews-slider-item-text__quote {
        text-align: center;
    }
}
.reviews-slider-item-text__quote a {
    font-size: 15px;
    font-weight: 700;
    font-style: normal;

    text-decoration: underline;

    color: #ea5351;
}
.reviews-slider-item-text__quote a:hover {
    text-decoration: none;
}

.steps {
    padding: 112px 0 97px;

    background: url('../img/design/bg/steps.jpg') top;
    background-size: cover;
}
@media (max-width: 767.98px) {
    .steps {
        padding: 50px 0;
    }
}
.steps .section-header {
    margin-bottom: 65px;
}
@media (max-width: 575.98px) {
    .steps .section-header {
        margin-bottom: 35px;
    }
}

.steps__action {
    display: flex;
    justify-content: center;
}

.steps-form {
    padding: 30px 15px 45px;

    border: 15px solid rgba(255, 255, 255, .1);
    border-radius: 30px;
}
@media (max-width: 767.98px) {
    .steps-form {
        padding: 20px 15px;

        border: 5px solid rgba(255, 255, 255, .1);
    }
}
.steps-form__title {
    font-size: 30px;
    font-weight: 900;

    margin-bottom: 12px;

    text-align: center;

    color: #fff;
}
@media (max-width: 767.98px) {
    .steps-form__title {
        font-size: 22px;

        margin-bottom: 12px;
    }
}
.steps-form__text {
    font-size: 20px;
    line-height: 1.2;

    margin-bottom: 55px;

    text-align: center;

    color: #fff;
}
@media (max-width: 767.98px) {
    .steps-form__text {
        margin-bottom: 25px;
    }
}
.steps-form__inputs {
    display: flex;

    margin: 0 0 23px;

    justify-content: center;
}
@media (max-width: 767.98px) {
    .steps-form__inputs {
        flex-direction: column;
    }
}
.steps-form__inputs label {
    width: 320px;
    padding: 0 10px;
}
@media (max-width: 767.98px) {
    .steps-form__inputs label {
        width: 100%;
        margin-bottom: 10px;
    }
    .steps-form__inputs label:last-of-type {
        margin-bottom: 0;
    }
}
@media (max-width: 767.98px) {
    .steps-form__inputs label {
        padding: 0;
    }
}
.steps-form__action {
    text-align: center;
}
.steps-form__action .btn {
    width: 263px;
}
@media (max-width: 575.98px) {
    .steps-form__action .btn {
        width: 100%;
    }
}

.steps-list {
    padding-bottom: 57px;
}
@media (max-width: 575.98px) {
    .steps-list {
        padding-bottom: 10px;
    }
}

.steps-list-row::after {
    display: block;
    clear: both;

    content: '';
}

.steps-list-row:last-child .steps-list-item--left {
    border-right: none;
}


.steps-list-item {
    position: relative;

    width: 50%;
    min-height: 80px;
}
@media (max-width: 575.98px) {
    .steps-list-item {
        width: 100%;
        padding-bottom: 30px;
    }
}
.steps-list-item--left {
    padding-right: 50px;

    text-align: right;

    border-right: 1px solid #61666b;
}
@media (max-width: 575.98px) {
    .steps-list-item--left {
        padding-right: 0;
        padding-left: 50px;

        text-align: left;

        border-right: none;
    }
}
.steps-list-item--left .steps-list-item__marker {
    right: -20px;
}
@media (max-width: 575.98px) {
    .steps-list-item--left .steps-list-item__marker {
        right: auto;
        left: 0;
    }
}
.steps-list-item--right {
    float: right;

    padding-left: 50px;

    border-left: 1px solid #61666b;
}
@media (max-width: 575.98px) {
    .steps-list-item--right {
        border-left: none;
    }
}
.steps-list-item--right .steps-list-item__marker {
    left: -21px;
}
@media (max-width: 575.98px) {
    .steps-list-item--right .steps-list-item__marker {
        left: 0;
    }
}
.steps-list-item--last {
    border: none;
}
.steps-list-item__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1;

    margin-bottom: 13px;

    color: #fff;
}
@media (max-width: 575.98px) {
    .steps-list-item__title {
        font-size: 20px;
    }
}
.steps-list-item__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    color: #fff;
}
@media (max-width: 767.98px) {
    .steps-list-item__text br {
        display: none;
    }
}
.steps-list-item__text a {
    text-decoration: underline;

    color: #ea5351;
}
.steps-list-item__text a:hover {
    text-decoration: none;
}
.steps-list-item__marker {
    font-size: 18px;
    font-weight: 900;
    line-height: 40px;

    position: absolute;
    top: -8px;

    width: 40px;
    height: 40px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #ea5351;
}

.advantages {
    padding-top: 80px;
    padding-bottom: 140px;
}
@media (max-width: 767.98px) {
    .advantages {
        padding-top: 0;
        margin-top: 30px;
        padding-bottom: 50px;
    }
}

.advantages-item {
    display: flex;

    margin-right: -15px;
    margin-bottom: 35px;
    margin-left: -15px;

    flex-wrap: wrap;
}
.advantages-item:last-of-type {
    margin-bottom: 0;
}
.advantages-item--1 {
    margin-bottom: 70px;
}
@media (max-width: 767.98px) {
    .advantages-item--1 {
        margin-bottom: 50px;
    }
}
.advantages-item--1 .section-header {
    margin-bottom: 35px;
}
@media (max-width: 575.98px) {
    .advantages-item--1 .section-header {
        margin-bottom: 20px;
    }
}
.advantages-item--1 .advantages-item-text__bg {
    left: -260px;
}
@media (max-width: 1199.98px) {
    .advantages-item--1 .advantages-item-text__bg {
        left: -100px;
    }
}
@media (max-width: 991.98px) {
    .advantages-item--1 .advantages-item-text__bg {
        left: -10px;
    }
}
@media (max-width: 767.98px) {
    .advantages-item--1 .advantages-item-text__bg {
        bottom: -20px;
        left: -15px;
    }
}

.advantages-item__list {
    list-style: none;
    color: #232528;
    font-family: "GothamPro";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.advantages-item__list li {
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
    color: #232528;
    font-family: "GothamPro";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.advantages-item__list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(50%);
    width: 30px;
    height: 2px;
    background-color: #ea5351;
}

.advantages-item--2 .advantages-item-text {
    padding-top: 94px;
}
@media (max-width: 767.98px) {
    .advantages-item--2 .advantages-item-text {
        padding-top: 10px;
    }
}
.advantages-item--2 .advantages-item-text__bg {
    bottom: 0;
    left: 100px;
}
@media (max-width: 1199.98px) {
    .advantages-item--2 .advantages-item-text__bg {
        left: -90px;
    }
}
@media (max-width: 991.98px) {
    .advantages-item--2 .advantages-item-text__bg {
        left: -180px;
    }
}
@media (max-width: 767.98px) {
    .advantages-item--2 .advantages-item-text__bg {
        bottom: -20px;
        left: -15px;
    }
}
.advantages-item--3 .advantages-item-text {
    padding-top: 120px;
}
@media (max-width: 767.98px) {
    .advantages-item--3 .advantages-item-text {
        padding-top: 10px;
    }
}
.advantages-item--3 .advantages-item-text__bg {
    bottom: 30px;
    left: -160px;
}
@media (max-width: 1199.98px) {
    .advantages-item--3 .advantages-item-text__bg {
        left: -80px;
    }
}
@media (max-width: 767.98px) {
    .advantages-item--3 .advantages-item-text__bg {
        bottom: -20px;
        left: -15px;
    }
}
.advantages-item__img {
    position: relative;
    position: relative;
    z-index: 2;

    width: 100%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;

    flex: 0 0 50%;
}
@media (max-width: 767.98px) {
    .advantages-item__img {
        display: none;
    }
}
.advantages-item__text {
    position: relative;

    width: 100%;
    max-width: 90%;
    padding-right: 15px;
    padding-left: 15px;

    flex: 0 0 50%;
}
@media (max-width: 767.98px) {
    .advantages-item__text {
        max-width: 100%;

        flex: 0 0 100%;
    }
}

.advantages-item-text {
    position: relative;
}
.advantages-item-text h3 {
    font-size: 36px;
    font-weight: 900;

    position: relative;
    z-index: 2;

    margin-bottom: 10px;

    color: #ea5351;
}
@media (max-width: 575.98px) {
    .advantages-item-text h3 {
        font-size: 26px;
    }
}
.advantages-item-text p {
    font-size: 16px;
    line-height: 1.5;

    position: relative;
    z-index: 2;

    margin-bottom: 15px;

    color: #232528;
}
.advantages-item-text p:last-of-type {
    margin-bottom: 0;
}
.advantages-item-text p b {
    font-weight: 700;
}
.advantages-item-text__bg {
    font-size: 200px;
    font-weight: 900;
    line-height: 1;

    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: 0;

    color: #f1f4f6;
}
@media (max-width: 991.98px) {
    .advantages-item-text__bg {
        font-size: 150px;
    }
}
@media (max-width: 767.98px) {
    .advantages-item-text__bg {
        font-size: 100px;
    }
}

.advantages-item-img {
    position: relative;
}
@media (max-width: 1199.98px) {
    .advantages-item-img img {
        max-width: 100%;
    }
}
.advantages-item-img--1 .advantages-item-img__element {
    top: 30px;
    left: 360px;
}
.advantages-item-img--2 .advantages-item-img__element {
    bottom: 50px;
    left: -190px;
}
.advantages-item-img--3 .advantages-item-img__element {
    bottom: -20px;
    left: 330px;
}
.advantages-item-img__photo {
    position: relative;
    z-index: 2;
}
.advantages-item-img__element {
    position: absolute;
    z-index: 1;
}

.goals {
    position: relative;
}
.goals .section-header {
    margin-bottom: 55px;
}
.goals:before {
    position: absolute;
    top: 0;
    left: -460px;

    content: url('../img/design/elements/goals.svg');
}

.goals-col {
    position: relative;

    width: 100%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;

    flex: 0 0 25%;
}
@media (max-width: 1199.98px) {
    .goals-col {
        max-width: 50%;
        margin-bottom: 30px;

        flex: 0 0 50%;
    }
}
@media (max-width: 767.98px) {
    .goals-col {
        max-width: 100%;

        flex: 0 0 100%;
    }
}

.goals-item {
    height: 413px;
    padding: 21px 18px 18px;

    transition: .3s;
    text-align: center;

    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(34, 42, 52, .1);
}
@media (max-width: 767.98px) {
    .goals-item {
        height: auto;
        padding-bottom: 30px;
    }
}
.goals-item:hover {
    border: 2px solid #ea5351;
    box-shadow: 0 15px 30px rgba(230, 57, 54, .6);
}
.goals-item__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1;

    position: relative;

    display: flex;

    height: 46px;
    margin-bottom: 50px;

    white-space: nowrap;

    color: #232528;
}
@media (max-width: 767.98px) {
    .goals-item__title {
        font-size: 20px;

        height: auto;
    }
}
.goals-item__title:after {
    position: absolute;
    bottom: -26px;
    left: 50%;

    width: 39px;
    height: 3px;

    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    background: #ea5351;
}
.goals-item__title span {
    margin: auto;
}
.goals-item__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    height: 120px;
    margin-bottom: 10px;

    color: #42525c;
}
@media (max-width: 767.98px) {
    .goals-item__description {
        height: auto;
        margin-bottom: 20px;
    }
}
.goals-item__more {
    width: 100%;
    margin-bottom: 14px;
}
.goals-item__order {
    width: 100%;
}

.about {
    padding-top: 250px;
}

@media (max-width: 992px) {
    .about {
        margin-top: 136px;
        padding-bottom: 0;
    }
}
@media (max-width: 575.98px) {
    .about {
        padding-bottom: 0;
        margin-top: 60px;
        padding-top: 50px;
    }
}
.about .section-header {
    position: relative;
    color: #232528;
}
.about .section-header__text {
    position: relative;
    z-index: 2;

    display: block;
}
.about .section-header__bg {
    font-size: 150px;
    font-weight: 900;
    line-height: .08;

    position: absolute;
    z-index: 1;
    top: -68px;
    right: 270px;

    color: #f1f4f6;
}
@media (max-width: 1199.98px) {
    .about .section-header__bg {
        top: -40px;
        right: 180px;
    }
}
@media (max-width: 991.98px) {
    .about .section-header__bg {
        top: -30px;
        right: 50px;
    }
}
@media (max-width: 767.98px) {
    .about .section-header__bg {
        display: none;
    }
}

.about-item {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;

    text-align: center;

    flex: 0 0 25%;
}
@media (max-width: 991.98px) {
    .about-item {
        max-width: 50%;
        margin-bottom: 40px;

        flex: 0 0 50%;
    }
}
@media (max-width: 767.98px) {
    .about-item {
        max-width: 100%;

        flex: 0 0 100%;
    }
}
.about-item__ico {
    position: relative;

    width: 130px;
    height: 130px;
    margin: 0 auto 32px;
    padding-top: 39px;
}
.about-item__ico:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 130px;
    height: 130px;

    content: '';

    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(42, 20, 19, .1);
}
.about-item__ico:after {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;

    width: 110px;
    height: 110px;

    content: '';

    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(42, 20, 19, .1);
}
.about-item__ico img {
    position: relative;
    z-index: 3;

    width: 52px;
    height: 52px;
}
.about-item__title {
    font-size: 22px;
    font-weight: 900;
    line-height: 1.09;

    margin-bottom: 14px;

    color: #232528;
}
@media (max-width: 767.98px) {
    .about-item__title {
        font-size: 20px;
    }
}
.about-item__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    color: #41525d;
}
