/*
Free Html5 Responsive Templates
Author: Kimmy Tran
Author URI: http://www.zerotheme.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
   	width: auto\9; /* ie8 */
}

/*------------------------*/

@media only screen and (max-width: 959px) {
	.list_carousel{
		display: none;
	}
}
@media only screen and (max-width: 820px){
	
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 420px) {
}