<template>
    <div class="widget-container">
        <form role="search" method="get" id="searchform" class="searchform" action="">
            <div>
                <label class="screen-reader-text" for="s">Search for:</label>
                <input  autocomplete="off" type="text" value="" name="s" id="s"/>
                <input type="submit" id="searchsubmit" value="Поиск"/>
            </div>
        </form>
        <div class="clear"></div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                blogs: {}
            };
        },
        created() {
        },
        methods: {

        }
    }
</script>
