<template>
    <div class="buttons-block">
        <div class="buttons-block__wrap">
            <div class="two-buttons-wrap">
                <a
                    href="#"
                    @click.prevent="addActive($event)"
                    data-js="firstTab"
                    class="btn btn--white info-item">
                    <span>Анкеты компании</span>
                    <img class="icon"
                         src="/images/secondstep/icon1.png"/>
                </a>
                <a href="#"
                   @click.prevent="addActive($event)"
                   data-js="secondTab"
                   class="btn btn--white info-item">
                    <span>Документы</span>
                    <img
                        class="icon"
                        src="/images/secondstep/icon2.png"/>
                </a>
            </div>
            <div class="two-buttons-wrap">
                <a href="#"
                   @click.prevent="addActive($event)"
                   data-js="thirdTab"
                   class="btn btn--white info-item">
                    <span>Цель займа</span>
                    <img
                        class="icon"
                        src="/images/secondstep/icon3.png"/>
                </a>
                <a href="#"
                   @click.prevent="addActive($event)"
                   data-js="fourthTab"
                   class="btn btn--white info-item">
                    <span>Вопросы</span>
                    <img
                        class="icon"
                        src="/images/secondstep/icon4.png"/>
                </a>
            </div>
        </div>
        <button class="btn btn--red">
            Отправить заявку
            <br>
            на рассмотрение
        </button>
    </div>
</template>
<script>
    export default {
        props: [
            'action'
        ],
        data() {
            return {};
        },
        watch: {},
        mounted() {
            let tabSelector = 'firstTab';
            if (localStorage.tab) {
                tabSelector = localStorage.tab;
            }
            let tab = document.querySelector('[data-js="' + tabSelector + '"]');
            tab.click();
        },
        created() {
        },
        methods: {
            addActive: function (event) {
                let items = document.querySelectorAll('.btn.btn--white.info-item').forEach(
                    function (el) {
                        el.removeAttribute('id');
                    });
                let wraps = document.querySelectorAll('.modal-profile__wrap').forEach(
                    function (el) {
                        el.removeAttribute('id');
                    });
                let dataJs = event.currentTarget.getAttribute('data-js');
                let el = document.querySelector('.' + dataJs);
                el.id = 'show';
                event.currentTarget.id = 'active';
                localStorage.tab = event.currentTarget.getAttribute('data-js');
            },
        }
    }
</script>
