<template>
    <div class="modal-profile__wrap modal-profile__wrap fourthTab">
        <h2 class="thirdTab__title">
            Цели займа
        </h2>
        <span class="thirdTab__subtitle">
            В этом разделе мы будем задавать вопросы, возникающие в процесс
        </span>
        <div v-for="(question, index) in questions" class="modal-profile__contacts-inner"
             style="z-index: 999; margin-top: 20px;">
            <h3 class="question">
                {{question.text}}
            </h3>
            <div class="modal-profile__contacts-inner" style="z-index: 999">
                <div class="modal-profile__contacts-item modal-profile__contacts-item_phone">
                    <textarea
                            v-if="question.answers.length"
                            class="question__textarea input"
                            id="modal-profile-textarea"
                            type="text"
                            value=""
                            v-model="question.answers[0].answer"
                            placeholder="Напишите ваш ответ">
                    </textarea>
                    <textarea
                            v-else
                            class="question__textarea input"
                            id="modal-profile-textarea"
                            type="text"
                            value=""
                            v-model="answers[index]"
                            placeholder="Напишите ваш ответ">
                    </textarea>
                </div>
            </div>
            <AttachFile
                    :ref="'attachFilequestion' + index"
                    :id="'question' + index"
                    :url-flag="true"
            />
            <div>
                <button @click.prevent="sendForm(question, index)" style="
            background-color: transparent;
    border: 2px dashed black;
    padding: 15px 20px;
    border-radius: 35px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
            display: flex;
    background-color: #009966;
    border: none;
    color: white;
    width: 220px;
    height: 60px;
    margin-bottom: 40px;
    margin-right: 0px;
    float: right;" class="button">
                    Ответить
                </button>
            </div>
        </div>
    </div>
</template>
<script>
    import AttachFile from "./FourthTab/AttachFile";

    export default {
        components: {
            AttachFile,
        },
        props: [
            'action'
        ],
        data() {
            return {
                answers: [],
                questions: []
            };
        },
        watch: {},
        created() {
            let curObj = this;
            axios.get('/questions', {})
                .then(function (response) {
                    if (response.data) {
                        curObj.questions = response.data;
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods: {
            sendForm: function (question, index) {
                let cObj = this;
                axios.post('/save-answer', {
                    questionId: question['id'],
                    answer: question.answers[0] ? question.answers[0]['answer'] : this.answers[index],
                })
                    .then(function (response) {
                        Vue.swal('Ответ загружен.');
                        let ind = 'attachFilequestion' + index;
                        cObj.$refs[ind][0].files.forEach(function (value) {
                            axios.post('upload-file', {
                                image: value['fileReader'],
                                blockName: value['blockFilename'],
                                name: value['fileName'],
                            })
                                .then(function (response) {
                                    console.log('file save');
                                })
                                .catch(function (error) {
                                    console.log('err');
                                });
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            setData: function (data) {
            },
            setFiles: function (data) {
                for (let prop in data) {
                    let url = data[prop]['content'];
                    let name = data[prop]['file_name'];
                    let blockName = data[prop]['block_name'];
                    let currentObj = this;
                    this.$store.dispatch(
                        'urltoFile',
                        {'url': url, 'name': name}
                    ).then(function (file) {
                        if (currentObj.$refs[blockName] !== undefined) {
                            currentObj.$refs[blockName][0].files.push(file);
                        }
                    });
                }
            }
        }
    }
</script>
<style>
    .question__textarea {
        resize: none;
        height: 150px !important;
        margin-top: 30px;
    }
</style>
