<template>
    <div class="modal-request__limit modal-request__section board" id="cost">
        <div class="modal-request__limit">
            <div style="margin-top: 10px;">
                <p>Сумма займа (руб):</p>
                <h2>{{requestSum}}</h2>
            </div>
            <div>
                <p>Срок займа(мес):</p>
                <h2>{{requestPeriod}}</h2>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [
            'action'
        ],
        data() {
            return {
                requestPeriod: '',
                requestSum: ''
            };
        },
        watch: {
        },
        created() {
        },
        methods: {
            setUser: function(user) {
                this.requestPeriod = user.term;
                this.requestSum = user.sum;
            }
        }
    }
</script>
