<template>
    <form
            @submit.prevent="formSubmit"
            class="modal-request__page modal-request__page--active"
            id="modal-request-page-01">
        <div class="modal-request__page-inner">
            <user-info @sendUserInfo="getUserInfo"></user-info>
            <loan-sum ref="loanSum"></loan-sum>
            <div class="modal-info__params modal-info__section">
                <h2 class="modal-info__params-title">
                    Заполните информацию
                </h2>
                <p>
                    Заполните информацию так, что бы каждая вкладка стала активной. После заполнения всех полей и
                    прикрепления запрашиваемых документов, нажмите на кнопку ОТПРАВИТЬ ЗАЯВКУ (когда кнопка станет
                    активной).
                    Ваша заявка отправиться в кредитный отдел на окончательное рассмотрение.
                    В случае возникновения вопросов, вы увидите их во вкладке «Вопросы»
                </p>
                <buttons-block></buttons-block>
            </div>
            <div class="modal-profile__params modal-profile__section board">
                <first-tab ref="firstTab"></first-tab>
                <second-tab ref="secondTab"></second-tab>
                <third-tab ref="thirdTab"></third-tab>
                <fourth-tab ref="fourthTab"></fourth-tab>
            </div>
        </div>
    </form>
</template>
<script>
    import UserInfo from "../Steps/UserInfo";
    import LoanSum from "./LoanSum";
    import ButtonsBlock from "./ButtonsBlock";
    import Vue from "vue";
    import FirstTab from "./FirstTab";
    import SecondTab from "./SecondTab";
    import ThirdTab from "./ThirdTab";
    import FourthTab from "./FourthTab";

    export default {
        components: {
            'user-info': UserInfo,
            'buttons-block': ButtonsBlock,
            'loan-sum': LoanSum,
            'first-tab': FirstTab,
            'second-tab': SecondTab,
            'third-tab': ThirdTab,
            'fourth-tab': FourthTab,
        },
        params: [
            'term',
            'sum'
        ],
        data() {
            return {
                action: 'user',
                userInfoData: {},
                user: {}
            };
        },
        created() {
            let currentObj = this;
            axios.get('user-files', {})
                .then(function (response) {
                    currentObj.$refs.secondTab.setFiles(response.data);
                    currentObj.$refs.thirdTab.setFiles(response.data);
                    currentObj.$refs.fourthTab.setFiles(response.data);
                })
                .catch(function (error) {
                    console.log(error);
                });
            axios.get(this.action, {})
                .then(function (response) {
                    currentObj.user = response.data;
                    currentObj.$refs.loanSum.setUser(currentObj.user);
                    let customData = currentObj.user.custom_data;
                    currentObj.setProfile(customData);
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods: {
            setProfile(data) {
                data = JSON.parse(data);
                this.$refs.firstTab.setData(data);
                this.$refs.thirdTab.setData(data);
            },
            formSubmit(e) {
                let currentObj = this;
                let loans = [];
                this.$refs.thirdTab.$refs.fifthBlock.attachFiles.forEach(function (el, index) {
                    let name = 'attachFileloanInfo' + index;
                    loans.push(currentObj.$refs.thirdTab.$refs.fifthBlock.$refs[name][0].loanInfo);
                });
                axios.put(this.action, {
                    contacts: this.$refs.firstTab.contacts,
                    addressLaw: this.$refs.firstTab.addressLaw,
                    address: this.$refs.firstTab.address,
                    offices: this.$refs.firstTab.offices,
                    employees: this.$refs.firstTab.employees,
                    credentials: this.$refs.firstTab.credentials,

                    textareaTarget: this.$refs.thirdTab.$refs.firstBlock.textareaTarget,
                    url: this.$refs.thirdTab.$refs.secondBlock.$refs.attachFiletenderInfo.url,
                    providers: this.$refs.thirdTab.$refs.thirdBlock.providers,
                    customers: this.$refs.thirdTab.$refs.fourthBlock.customers,
                    loans: loans
                })
                    .then(function (response) {
                        Vue.swal('Ваш профиль обновлен.');
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            },
            getUserInfo(data) {
                this.userInfoData = data;
            },
        }
    }
</script>
<style>
    .form-height {
        height: 60px;
    }

    .request-form__btn:disabled {
        background: darkgrey;
    }

    .inner_wrap_wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .modal-profile__wrap {
        display: none;
    }

    #show {
        display: flex;
    }

    .modal-profile__subtitle {
        flex: 2;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        font-weight: bold;

    }

    .modal-profile__subtitle_file {
        color: #999999;
    }
</style>
