/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
@-webkit-keyframes a {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes a {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

html {
    font-size: 1em;
    line-height: 1.4;
    color: #222
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

fieldset,
hr {
    padding: 0;
    border: 0
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0
}

audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle
}

fieldset {
    margin: 0
}

.browserupgrade {
    margin: .2em 0;
    padding: .2em 0;
    color: #000;
    background: #ccc
}

.hidden {
    display: none !important
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    white-space: inherit
}

.invisible {
    visibility: hidden
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: ' '
}

.clearfix:after {
    clear: both
}

@media print {

    *,
    :after,
    :before {
        color: #000 !important;
        background: 0 0 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: ' ('attr(href) ')'
    }

    abbr[title]:after {
        content: ' ('attr(title) ')'
    }

    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: ''
    }

    pre {
        white-space: pre-wrap !important
    }

    blockquote,
    pre {
        border: 1px solid #999
    }

    thead {
        display: table-header-group
    }

    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }
}

*,
:after,
:before {
    box-sizing: border-box
}

a {
    text-decoration: inherit;
    color: inherit
}

a,
button,
input,
select,
textarea {
    outline: 0
}

button,
input,
textarea {
    border: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

textarea {
    resize: vertical
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

[role=button] {
    cursor: pointer
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus:-moz-placeholder,
:focus::-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

body.compensate-for-scrollbar {
    overflow: hidden
}

.fancybox-active {
    height: auto
}

.fancybox-is-hidden {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
    margin: 0
}

.fancybox-container {
    position: fixed;
    z-index: 99992;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    outline: 0;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation
}

.fancybox-container * {
    box-sizing: border-box
}

.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.fancybox-outer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.fancybox-bg {
    transition-timing-function: cubic-bezier(.47, 0, .74, .71);
    transition-duration: inherit;
    transition-property: opacity;
    opacity: 0;
    background: #1e1e1e
}

.fancybox-is-open .fancybox-bg {
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);
    opacity: .9
}

.fancybox-caption {
    visibility: hidden;
    transition: opacity .25s ease, visibility 0s ease .25s;
    direction: ltr
}

.fancybox-caption,
.fancybox-infobar,
.fancybox-toolbar {
    position: absolute;
    opacity: 0
}

.fancybox-infobar,
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
    z-index: 99997;
    visibility: hidden;
    transition: opacity .25s ease, visibility 0s ease .25s;
    direction: ltr
}

.fancybox-show-caption .fancybox-caption,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-nav .fancybox-navigation .fancybox-button,
.fancybox-show-toolbar .fancybox-toolbar {
    visibility: visible;
    transition: opacity .25s ease 0s, visibility 0s ease 0s;
    opacity: 1
}

.fancybox-infobar {
    font-size: 13px;
    line-height: 44px;
    top: 0;
    left: 0;
    min-width: 44px;
    height: 44px;
    padding: 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    color: #ccc;
    -webkit-font-smoothing: subpixel-antialiased;
    mix-blend-mode: difference;
    -webkit-touch-callout: none
}

.fancybox-toolbar {
    top: 0;
    right: 0
}

.fancybox-stage {
    z-index: 99994;
    overflow: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    direction: ltr
}

.fancybox-is-open .fancybox-stage {
    overflow: hidden
}

.fancybox-slide {
    position: absolute;
    z-index: 99994;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 44px;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    text-align: center;
    white-space: normal;
    outline: 0;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch
}

.fancybox-slide:before {
    font-size: 0;
    display: inline-block;
    width: 0;
    height: 100%;
    content: '';
    vertical-align: middle
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--current,
.fancybox-slide--next,
.fancybox-slide--previous {
    display: block
}

.fancybox-slide--image {
    overflow: hidden;
    padding: 44px 0
}

.fancybox-slide--image:before {
    display: none
}

.fancybox-slide--html {
    padding: 6px
}

.fancybox-content {
    position: relative;
    display: inline-block;
    overflow: auto;
    max-width: 100%;
    margin: 0;
    padding: 44px;
    text-align: left;
    vertical-align: middle;
    background: none;
    -webkit-overflow-scrolling: touch
}

.fancybox-slide--image .fancybox-content {
    position: absolute;
    z-index: 99995;
    top: 0;
    left: 0;
    overflow: visible;
    max-width: none;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, .14, 1);
    animation-timing-function: cubic-bezier(.5, 0, .14, 1);
    background: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-backface-visibility: hidden
}

.fancybox-can-zoomOut .fancybox-content {
    cursor: zoom-out
}

.fancybox-can-zoomIn .fancybox-content {
    cursor: zoom-in
}

.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
    cursor: -webkit-grab;
    cursor: grab
}

.fancybox-is-grabbing .fancybox-content {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.fancybox-container [data-selectable=true] {
    cursor: text
}

.fancybox-image,
.fancybox-spaceball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    background: 0 0
}

.fancybox-spaceball {
    z-index: 1
}

.fancybox-slide--iframe .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--video .fancybox-content {
    overflow: visible;
    width: 100%;
    height: 100%;
    padding: 0
}

.fancybox-slide--video .fancybox-content {
    background: #000
}

.fancybox-slide--map .fancybox-content {
    background: #e5e3df
}

.fancybox-slide--iframe .fancybox-content {
    background: #fff
}

.fancybox-iframe,
.fancybox-video {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: 0 0
}

.fancybox-iframe {
    position: absolute;
    top: 0;
    left: 0
}

.fancybox-error {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    cursor: default;
    background: #fff
}

.fancybox-error p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #444
}

.fancybox-button {
    position: relative;
    display: inline-block;
    visibility: inherit;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: color .2s;
    vertical-align: top;
    border: 0;
    border-radius: 0;
    background: rgba(30, 30, 30, .6);
    box-shadow: none;
    color: #ccc
}

.fancybox-button:link,
.fancybox-button:visited {
    color: #ccc
}

.fancybox-button:hover {
    color: #fff
}

.fancybox-button:focus {
    outline: 0
}

.fancybox-button.fancybox-focus {
    outline: 1px dotted
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
    cursor: default;
    color: #888;
    outline: 0
}

.fancybox-button div {
    height: 100%
}

.fancybox-button svg {
    position: relative;
    display: block;
    overflow: visible;
    width: 100%;
    height: 100%
}

.fancybox-button svg path {
    fill: currentColor;
    stroke-width: 0
}

.fancybox-button--fsenter svg:nth-child(2),
.fancybox-button--fsexit svg:first-child,
.fancybox-button--pause svg:first-child,
.fancybox-button--play svg:nth-child(2) {
    display: none
}

.fancybox-progress {
    position: absolute;
    z-index: 99998;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    transition-timing-function: linear;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: #ff5268
}

.fancybox-close-small {
    position: absolute;
    z-index: 401;
    top: -44px;
    right: -12px;
    padding: 8px;
    cursor: pointer;
    opacity: .8;
    color: #ccc;
    border: 0;
    border-radius: 0;
    background: 0 0
}

.fancybox-close-small:hover {
    opacity: 1;
    color: #fff
}

.fancybox-slide--html .fancybox-close-small {
    top: 0;
    right: 0;
    padding: 10px;
    color: currentColor
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
    overflow: hidden
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small,
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.fancybox-navigation .fancybox-button {
    position: absolute;
    top: calc(50% - 50px);
    width: 70px;
    height: 100px;
    opacity: 0;
    background-clip: content-box
}

.fancybox-navigation .fancybox-button div {
    padding: 7px
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: 0;
    left: env(safe-area-inset-left);
    padding: 31px 26px 31px 6px
}

.fancybox-navigation .fancybox-button--arrow_right {
    right: 0;
    right: env(safe-area-inset-right);
    padding: 31px 6px 31px 26px
}

.fancybox-caption {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 99996;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 75px 44px 25px;
    text-align: center;
    pointer-events: none;
    color: #eee;
    background: linear-gradient(0deg, rgba(0, 0, 0, .85) 0, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .15) 65%, rgba(0, 0, 0, .075) 75.5%, rgba(0, 0, 0, .037) 82.85%, rgba(0, 0, 0, .019) 88%, transparent)
}

@supports (padding:max(0px)) {
    .fancybox-caption {
        padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left))
    }
}

.fancybox-caption--separate {
    margin-top: -50px
}

.fancybox-caption__body {
    overflow: auto;
    max-height: 50vh;
    pointer-events: all
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
    text-decoration: none;
    color: #ccc
}

.fancybox-caption a:hover {
    text-decoration: underline;
    color: #fff
}

.fancybox-loading {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    padding: 0;
    -webkit-animation: a 1s linear infinite;
    animation: a 1s linear infinite;
    opacity: .7;
    border: 4px solid #888;
    border-bottom-color: #fff;
    border-radius: 50%;
    background: 0 0
}

.fancybox-animated {
    transition-timing-function: cubic-bezier(0, 0, .25, 1)
}

.fancybox-fx-slide.fancybox-slide--previous {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0
}

.fancybox-fx-slide.fancybox-slide--next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0
}

.fancybox-fx-slide.fancybox-slide--current {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
}

.fancybox-fx-fade.fancybox-slide--next,
.fancybox-fx-fade.fancybox-slide--previous {
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    opacity: 0
}

.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1
}

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
    opacity: 0
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1
}

.fancybox-fx-rotate.fancybox-slide--previous {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
    opacity: 0
}

.fancybox-fx-rotate.fancybox-slide--next {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: 0
}

.fancybox-fx-rotate.fancybox-slide--current {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1
}

.fancybox-fx-circular.fancybox-slide--previous {
    -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    opacity: 0
}

.fancybox-fx-circular.fancybox-slide--next {
    -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    opacity: 0
}

.fancybox-fx-circular.fancybox-slide--current {
    -webkit-transform: scaleX(1) translateZ(0);
    transform: scaleX(1) translateZ(0);
    opacity: 1
}

.fancybox-fx-tube.fancybox-slide--previous {
    -webkit-transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg);
    transform: translate3d(-100%, 0, 0) scale(.1) skew(-10deg)
}

.fancybox-fx-tube.fancybox-slide--next {
    -webkit-transform: translate3d(100%, 0, 0) scale(.1) skew(10deg);
    transform: translate3d(100%, 0, 0) scale(.1) skew(10deg)
}

.fancybox-fx-tube.fancybox-slide--current {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1)
}

@media (max-height:576px) {
    .fancybox-slide {
        padding-right: 6px;
        padding-left: 6px
    }

    .fancybox-slide--image {
        padding: 6px 0
    }

    .fancybox-close-small {
        right: -6px
    }

    .fancybox-slide--image .fancybox-close-small {
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        padding: 6px;
        opacity: 1;
        color: #f2f4f6;
        background: #4e4e4e
    }

    .fancybox-caption {
        padding-right: 12px;
        padding-left: 12px
    }

    @supports (padding:max(0px)) {
        .fancybox-caption {
            padding-right: max(12px, env(safe-area-inset-right));
            padding-left: max(12px, env(safe-area-inset-left))
        }
    }
}

.fancybox-share {
    max-width: 90%;
    padding: 30px;
    text-align: center;
    border-radius: 3px;
    background: #f4f4f4
}

.fancybox-share h1 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #222
}

.fancybox-share p {
    margin: 0;
    padding: 0
}

.fancybox-share__button {
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
    min-width: 130px;
    margin: 0 5px 10px;
    padding: 0 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s;
    white-space: nowrap;
    text-decoration: none;
    border: 0;
    border-radius: 3px
}

.fancybox-share__button:link,
.fancybox-share__button:visited {
    color: #fff
}

.fancybox-share__button:hover {
    text-decoration: none
}

.fancybox-share__button--fb {
    background: #3b5998
}

.fancybox-share__button--fb:hover {
    background: #344e86
}

.fancybox-share__button--pt {
    background: #bd081d
}

.fancybox-share__button--pt:hover {
    background: #aa0719
}

.fancybox-share__button--tw {
    background: #1da1f2
}

.fancybox-share__button--tw:hover {
    background: #0d95e8
}

.fancybox-share__button svg {
    position: relative;
    top: -1px;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    vertical-align: middle
}

.fancybox-share__button svg path {
    fill: #fff
}

.fancybox-share__input {
    font-size: 14px;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 15px;
    color: #5d5b5b;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    outline: 0;
    background: 0 0
}

.fancybox-thumbs {
    position: absolute;
    z-index: 99995;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 212px;
    margin: 0;
    padding: 2px 2px 4px;
    background: #ddd;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-tap-highlight-color: transparent
}

.fancybox-thumbs-x {
    overflow-x: auto;
    overflow-y: hidden
}

.fancybox-show-thumbs .fancybox-thumbs {
    display: block
}

.fancybox-show-thumbs .fancybox-inner {
    right: 212px
}

.fancybox-thumbs__list {
    font-size: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap
}

.fancybox-thumbs-x .fancybox-thumbs__list {
    overflow: hidden
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
    width: 7px
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2a2a2a
}

.fancybox-thumbs__list a {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100px;
    max-width: calc(50% - 4px);
    height: 75px;
    max-height: calc(100% - 8px);
    margin: 2px;
    padding: 0;
    cursor: pointer;
    outline: 0;
    background-color: rgba(0, 0, 0, .1);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent
}

.fancybox-thumbs__list a:before {
    position: absolute;
    z-index: 99991;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: all .2s cubic-bezier(.25, .46, .45, .94);
    opacity: 0;
    border: 6px solid #ff5268
}

.fancybox-thumbs__list a:focus:before {
    opacity: .5
}

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
    opacity: 1
}

@media (max-width:576px) {
    .fancybox-thumbs {
        width: 110px
    }

    .fancybox-show-thumbs .fancybox-inner {
        right: 110px
    }

    .fancybox-thumbs__list a {
        max-width: calc(100% - 10px)
    }
}

.owl-carousel,
.owl-carousel .owl-item {
    position: relative;
    -webkit-tap-highlight-color: transparent
}

.owl-carousel {
    z-index: 1;
    display: none;
    width: 100%
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.'
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden
}

.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden
}

.owl-carousel .owl-item {
    float: left;
    min-height: 1px;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font: inherit;
    padding: 0 !important;
    color: inherit;
    border: 0;
    background: 0 0
}

.owl-carousel.owl-loading {
    display: block;
    opacity: 0
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    transition: opacity .4s ease;
    opacity: 0
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=''] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    cursor: pointer;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
    background: url(owl.video.play.png) no-repeat;
    -webkit-backface-visibility: hidden
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    height: 100%;
    transition: opacity .4s ease;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%
}