.modal-info__section {
    flex-basis: 100%;
    margin-bottom: 18px;
}

.modal-info__section:last-child {
    margin-bottom: 0;
}

.modal-info__section p {
    font-size: 14px;
    color: #cc6666;
}

.modal-info__section .buttons-block {
    display: flex;
    padding-top: 60px;
    width: 100%;
    justify-content: space-between;
}

.modal-info__params {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #232528;
    font-family: "GothamPro";
    padding-top: 28px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
}

.modal-info__params-title {
    margin-bottom: 0;
    flex-basis: 100%;
    font-size: 30px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .modal-info__params-title {
        font-size: 26px;
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .modal-info__params-title {
        font-size: 22px;
        margin-bottom: 25px;
    }
}

.modal-info__params-text {
    margin-bottom: 43px;
    flex-basis: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
@media (max-width: 768px) {
    .modal-info__params-text {
        margin-bottom: 25px;
    }
}

.modal-info__params-item {
    flex-basis: 43%;
}
@media (max-width: 768px) {
    .modal-info__params-item {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

.modal-info__params-title {
    margin-bottom: 0px;
    flex-basis: 100%;
    font-size: 36px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .modal-info__params-title {
        font-size: 26px;
        margin-bottom: 30px;
    }
}
@media (max-width: 576px) {
    .modal-info__params-title {
        font-size: 22px;
        margin-bottom: 25px;
    }
}

.modal-info__section .info-item {
   /* width: 100%;*/
    margin-bottom: 14px;
    border-color: #f7d0d2;
    color: #999999;
    text-decoration: none;
    text-transform: inherit;
    font-size: 16px;
    font-weight: 100;
}

a.btn--white {
width: 200px;
}

.wrapper {
    overflow-x: hidden;
    overflow: hidden;
    margin: auto;
    max-width: 1270px;
}
