<template>
    <div class="modal-request__params modal-request__section board">
        <h2 class="modal-request__params-title">
            Заполните форму для быстрой подачи заявки
        </h2>
        <p class="modal-request__params-text">
            Параметры займа
        </p>
        <div class="modal-request__params-item modal-request__params-item--period modal-request-param">
            <div class="modal-request__param-desc">
                Срок займа, мес. <span class="top">*</span>
            </div>
            <div class="modal-request__range modal-request-range">
                <div class="modal-request-range__value">
                    <span id="request-period-output">3</span> мес
                </div>
                <div class="modal-request-range__wrap">
                    <span class="range-input-line"></span>
                    <input class="range-input range-request range-request--period"
                           type="range"
                           v-model="requestPeriod"
                           id="range-request-period"
                           data-output="request-period-output"
                           min="1" max="12" step="1" value="1">
                </div>
            </div>
            <span class="modal-request__param-note">
                            от 1 до 12 мес.
                        </span>
        </div>
        <div class="modal-request__params-item modal-request__params-item--sum">
            <div class="modal-request__param-desc">
                Сумма займа, руб. <span class="top">*</span>
            </div>
            <div class="modal-request__range modal-request-range">
                <div class="modal-request-range__value">
                    <span id="request-sum-output">14 500 000</span>
                </div>
                <div class="modal-request-range__wrap">
                    <span class="range-input-line"></span>
                    <input class="range-input range-request range-request--sum"
                           type="range"
                           v-model="requestSum"
                           id="range-request-sum"
                           data-output="request-sum-output"
                           min="500000" max="30000000"
                           step="500000" value="500000">
                </div>
            </div>
            <span class="modal-request__param-note">
                            от 500 000 руб. до 30 000 000 руб.
                        </span>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'action'
        ],
        data() {
            return {
                requestPeriod: 1,
                requestSum: 500000
            };
        },
        watch: {
            inn: function (val) {
                this.$emit('sendParams', this.$data);
            }
        },
        created() {
            this.$emit('sendParams', this.$data);
        },
        methods: {}
    }
</script>
