<style>
    .form-height {
        height: 60px;
    }

    .request-form__btn:disabled {
        background: darkgrey;
    }
</style>
<template>
    <form @submit.prevent="formSubmit" class="modal-request__page modal-request__page--active"
          id="modal-request-page-01">
        <div class="modal-request__page-inner">
            <UserInfo @sendUserInfo="getUserInfo"/>
            <div class="modal-request__limit modal-request__section board">
                <h2 class="modal-request__limit-title">
                    Сумма лимита:
                </h2>
                <img class="modal-request__limit-sum" src="/img/firststep/request/limit_sum.png" alt="Узнайте лимит">
                <p class="modal-request__limit-text">
                    Узнайте лимит, заполнив форму ниже и перейдя к ШАГ 2 *
                </p>
            </div>
            <Params @sendParams="getParams"/>
            <div class="modal-request__contacts modal-request__section board">
                <div class="modal-request__contacts-title">
                    Данные для регистрации
                </div>
                <div class="modal-request__contacts-inner">
                    <div class="modal-request__contacts-item">
                        <label class="modal-request__contacts-lbl" for="modal-request-email">
                            Электронная почта <span class="top">*</span>
                        </label>
                        <PromptEmail
                            :id="'modal-request-email'"
                            :placeholder="'Введите e-mail'"
                            @sendEmail="getEmail"/>
                    </div>
                    <div class="modal-request__contacts-item">
                        <label class="modal-request__contacts-lbl" for="modal-request-phone">
                            Контактный номер телефона <span class="top">*</span>
                        </label>
                        <input
                            class="input"
                            name="number"
                            id="modal-request-phone"
                            v-model="number"
                            placeholder="Введите номер телефона"
                            type="number"
                            required="">
                    </div>
                    <div class="request-contacts__bottom">
                        <div class="request-contacts__content">
                            <input class="input-checkbox input-request-content" name="content"
                                   id="modal-request-content"
                                   type="checkbox"
                                   v-model="checked"
                                   required="">
                            <label for="modal-request-content">
                                <a href="#">
                                    Согласие на обработку персональных данных. </a> <a href="#">Согласие на
                                предоставление
                                основной части кредитной истории.</a> fizza.ru не передают третьим лицам информацию,
                                полученную при
                                заполнении заявок. Правила обработки персональных данных гарантируют защиту и
                                конфиденциальность
                                представленной информации.
                            </label>
                        </div>
                        <button
                            v-bind:disabled="!checked"
                            class="request-form__btn btn btn--red"
                        >ДАЛЕЕ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>
<script>
    import PromptEmail from "../DadataRequest/PromptEmail";
    import UserInfo from "../Steps/UserInfo";
    import Params from "./Params";

    export default {
        components: {
            PromptEmail,
            UserInfo,
            Params
        },
        data() {
            return {
                action: 'create-user',
                email: '',
                number: '',
                checked: false,
                userInfoData: {},
                params: {}
            };
        },
        created() {
            axios.post('/is-auth', {})
                .then(function (response) {
                    if(response.data) {
                        document.location.href = '/';
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods: {
            formSubmit(e) {
                let currentObj = this;
                axios.post(this.action, {
                    address: this.userInfoData.address,
                    ogrn: this.userInfoData.ogrn,
                    username: this.userInfoData.name,
                    companyName: this.userInfoData.companyName,
                    inn: this.userInfoData.inn,
                    email: this.email,
                    number: this.number,
                    term: this.params.requestPeriod,
                    sum: this.params.requestSum
                })
                    .then(function (response) {
                        Vue.swal('Спасибо. Ваша заявка принята.');
                        let header = document.querySelector('.header__personal.header__personal--lg');
                        header.innerHTML = '<div class="logo">\n' +
                            '                        <a href="#">\n' +
                            '                    <span class="logo__icon">\n' +
                            '                        <img class="red-block" src="images/secondstep/red-block.png">\n' +
                            '                        <img src="images/secondstep/dialog-icon.png">\n' +
                            '                    </span>\n' +
                            '                        </a>\n' +
                            '                        <a href="#">\n' +
                            '                            ООО "ФИРМА"\n' +
                            '                            <div id="dialog2" class="triangle_down1"></div>\n' +
                            '                        </a>\n' +
                            '                    </div>';
                        currentObj.$router.push({
                            path: 'second-step-registration-info',
                            query: {
                                tab: 'firstTab'
                            }
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getEmail(value) {
                this.email = value;
            },
            getUserInfo(data) {
                this.userInfoData = data;
            },
            getParams(data) {
                this.params = data;
            }
        }
    }
</script>
