<style>
    .data-list-wrapper {
        z-index: 15;
        background-color: #f1f4f6;
        margin-top: -30px;
        border: 1px solid #dde0e2;
    }

    .data-list {
        list-style-type: none;
        padding-left: 0;
        margin-top: 60px;
    }

    .data-list-element {
        height: auto;
        padding-left: 30px;
        padding-top: 20px;
    }

    .data-list-element:hover {
        height: auto;
        background-color: white;
        cursor: default;
    }

    .data-list-element #secondLine {
        color: grey;
        font-size: 15px;
    }
</style>
<template>
    <div style="height: 50px;">
        <input
               @keyup="requestDadata"
               type="text"
               v-model="inn"
               :class="classInput"
               placeholder="Название компании или ИНН">
        <div
            class="data-list-wrapper"
            :style="{visibility: visibility}"
            v-click-outside="hide"
        >
            <ul class="data-list">
                <li v-if="!suggestions.length"
                    class="data-list-element">
                    Список пуст
                </li>
                <li v-if="suggestions"
                    @click="selectDadataElement(suggestion)"
                    class="data-list-element"
                    v-for="suggestion in suggestions">
                    <div>{{ suggestion.value }}</div>
                    <div id="secondLine">
                        {{ suggestion.data.inn }} {{ suggestion.data.address?suggestion.data.address.value:'' }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import ClickOutside from 'vue-click-outside'

    export default {
        props: [
            'classInput'
        ],
        data() {
            return {
                visibility: 'hidden',
                inn: '',
                suggestions: [],
                action: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/party'
            };
        },
        methods: {
            requestDadata(e) {
                let currentObj = this;
                const instance = axios.create({
                    baseURL: this.action,
                    headers: {'Authorization': 'Token 737068ef6c0fd773b8289a694a14b3862786a3ee'}
                });
                instance.post(this.action, {
                    query: this.inn
                })
                    .then(function (response) {
                        currentObj.suggestions = response.data.suggestions;
                        currentObj.visibility = "visible";
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            },
            selectDadataElement(data) {
                this.inn = data.value;
                this.$emit('sendData', data)
                this.visibility = "hidden";
            },
            hide() {
                this.visibility = "hidden";
            }
        },
        directives: {
            ClickOutside
        }
    }
</script>
