<template>
    <div>
        <div class="faq-item" v-for="faq in faqs">
            <h3 class="faq-item__title">
                {{ faq.title }}
            </h3>
            <div class="faq-item__content">
                <p>
                    {{ faq.content }}
                </p>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        props: [
            'page'
        ],
        data() {
            return {
                faqs: {},
                url: 'get-faqs'
            };
        },
        created() {
            let currentObj = this;
            axios.post(this.url, {page: this.page})
                .then(function (response) {
                    currentObj.faqs = response.data;
                    $(document).ready(function () {
                        $(".faq-item").each(function () {
                            var e = $(this);
                            $(".faq-item__title", e).on("click", function () {
                                e.hasClass("active") ? e.removeClass("active") : ($(".faq-item").removeClass("active"), e.addClass("active"))
                            })
                        })
                    });
                })
                .catch(function (error) {
                    console.log('err');
                });
        },
        methods: {}
    }
</script>
