<template>
    <section class="section advantages">
        <div class="container">
            <div class="advantages-item advantages-item--1">
                <div class="advantages-item__text advantages-item-text">
                    <h2 class="section-header">
                        Закрываем глаза на
                    </h2>
                    <ul class="advantages-item__text advantages-item__list">
                        <li>Вашу кредитную историю</li>
                        <li>Не нужно подтверждение Ваших доходов</li>
                        <li>Достигли ли Вы пенсионного возраста</li>
                        <li>Количество и состав прописанных</li>
                        <li>Работаете ли Вы сейчас</li>
                        <li>Не просим справки 2 НДФЛ</li>
                        <li>Не нужна справка по форме банков</li>
                        <li>Декларации о доходах</li>
                    </ul>
                </div>
                <div class="advantages-item__img">
                    <div class="advantages-item-img advantages-item-img--1">
                        <div class="advantages-item-img__photo">
                            <img src="img/design/advantages/close-eyes.png" alt="img">
                        </div>
                        <div class="advantages-item-img__element">
                            <img src="img/design/elements/advantages-1.svg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
