<template>
    <section>
        <div class="main-form__action">
            <a class="btn btn--red open-modal" href="#modal-info-callback">
                Оформить заявку
            </a>
        </div>
        <Callback :action="'create-request'"/>
    </section>
</template>


<script>
    import Prompt from "../DadataRequest/Prompt";
    import Callback from "../Callback";

    export default {
        components: {
            Prompt,
            Callback
        },
        props: [
            'action'
        ],
        data() {
            return {
                inn: '',
                address: '',
                ogrn: '',
                name: '',
                companyName: ''
            };
        },
        methods: {
            formSubmit(e) {
                this.$cookie.set(
                    'inn', this.inn, 999);
                this.$cookie.set(
                    'address', this.address, 999);
                this.$cookie.set(
                    'ogrn', this.ogrn, 999);
                this.$cookie.set(
                    'name', this.name, 999);
                this.$cookie.set(
                    'companyName', this.companyName, 999);
                document.location.href = this.action;
            }
        }
    }
</script>
