<template>
    <section class="section map">
        <div class="container">
            <h2 class="section-header section-header--center">
					<span class="section-header__text">
						Карта финансирования
					</span>
                <span class="section-header__bg">
						Карта
					</span>
            </h2>
            <p class="section-info">
                На карте выделена область для нахождения недвижимости, подходящий под финансирование. До 50 км от мкад -
                квартиры. До 30 км от мкад - дома.
                <small>До 50 км от мкад - квартиры. До 30 км от мкад - дома.</small>
            </p>
        </div>
        <div class="map-img-wrapper">
            <div class="map-img" id="map">
            </div>
            <form>
                <div class="map-form container">
                    <label class="form-field map__address">
                        <PromptAddress @sendAddress="getAddress"/>
                    </label>
                    <label class="form-field map__emzil">
                        <PromptEmail
                            :id="'modal-request-email'"
                            :placeholder="'Введите e-mail'"
                            @sendEmail="getEmail"/>
                    </label>
                    <label class="form-field map__address">
                        <input
                            v-model="number"
                            class="input"
                            type="phone"
                            name="map-phone"
                            placeholder="Телефон"
                            autocomplete="off"
                            required=""/>
                    </label>
                    <div class="map__action">
                        <button @click="formSubmit" class="btn btn--red">
                            Оформить заявку
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
    import PromptEmail from "../DadataRequest/PromptEmail";
    import PromptAddress from "../DadataRequest/PromptAddress";

    export default {
        components: {
            PromptEmail,
            PromptAddress
        },
        props: [
            'action'
        ],
        data() {
            return {
                address: '',
                email: '',
                number: ''
            };
        },
        methods: {
            formSubmit(e) {
                let currentObj = this;
                axios.post(this.action, {
                    address: this.address,
                    email: this.email,
                    number: this.number
                })
                    .then(function (response) {
                        Vue.swal('Спасибо. Ваша заявка принята.');
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            },
            getEmail(data) {
                this.email = data;
            },
            getAddress(data) {
                this.address = data;
            }
        }
    }
</script>
