<template>
    <section class="section section--mortgage mortgage">
        <div class="container mortgage-inner">
            <h2 class="section-header section-header--center section-header--mortgage">
                Какой залог подходит
            </h2>
            <div class="mortgage__content">
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--apartment"></span>
                    <span class="mortgage__text">Квартира</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--part"></span>
                    <span class="mortgage__text">Доля в квартире</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--room"></span>
                    <span class="mortgage__text">Комната</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--cottage"></span>
                    <span class="mortgage__text">Коттедж</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--house"></span>
                    <span class="mortgage__text">Дом</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--townhouse"></span>
                    <span class="mortgage__text">Таунхаус</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--office"></span>
                    <span class="mortgage__text">Офисные помещения</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--commerce"></span>
                    <span class="mortgage__text">Коммерческие помещения</span>
                </div>
                <div class="mortgage__item">
                    <span class="mortgage__icon mortgage__icon--factory"></span>
                    <span class="mortgage__text">Производственные помещения</span>
                </div>
            </div>
        </div>
    </section>
</template>
