<template>
    <div class="modal-request__details modal-request__section board">
        <div class="modal-request__details-header">
            <h2 class="modal-request__details-title">
                {{ companyName }}
            </h2>
            <div v-if="stepTwo" class="modal-request__details-action">
                <a v-on:click="showInnForm" href="#" data-toggle="modal" data-target="#request-form-inn">Изменить</a>
            </div>
        </div>
        <Inn v-if="showInn" action="steps"/>
        <div v-else class="modal-request__details-info">
            <div class="modal-request__details-item modal-request__details-item--address">
                <span class="modal-request__item-title">Юр. адрес: </span>
                <span class="modal-request__item-data">
                    {{ address }}
                </span>
            </div>
            <div class="modal-request__details-item modal-request__details-item--inn">
                <span class="modal-request__item-title">ИНН: </span>
                <a href="#" class="modal-request__link">
                    {{ inn }}
                </a>
            </div>
            <div class="modal-request__details-item modal-request__details-item--ogrn">
                <span class="modal-request__item-title">ОГРН:</span>
                <a href="#" class="modal-request__link">
                    {{ ogrn }}
                </a>
            </div>
            <div class="modal-request__details-item modal-request__details-item--director">
                <span class="modal-request__item-title">ДИРЕКТОР: </span>
                <a href="#" class="modal-request__link">
                    {{ name}}
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import Inn from "../FirstStep/Inn";

    export default {
        components: {
            Inn
        },
        props: [
            'action'
        ],
        data() {
            return {
                inn: this.$cookie.get('inn') ? this.$cookie.get('inn') : '290700083943',
                address: this.$cookie.get('address') ? this.$cookie.get('address') : '394019, Воронежская область, город Воронеж, улица Машиностроителей, дом 78',
                ogrn: this.$cookie.get('ogrn') ? this.$cookie.get('ogrn') : '304290718100040',
                name: this.$cookie.get('name') ? this.$cookie.get('name') : 'Фамилия Имя Отчество',
                companyName: this.$cookie.get('companyName') ? this.$cookie.get('companyName') : 'ООО ФИРМА',
                showInn: false,
                stepTwo: this.$route.name!=='second-step-registration-info'
            };
        },
        created() {
            this.$emit('sendUserInfo', this.$data);
        },
        methods: {
            showInnForm: function (event) {
                this.showInn = !this.showInn;
            },
        }
    }
</script>
