<template>
    <form @submit.prevent="formSubmit" class="main-form main-form--lg">
        <div class="form-question-form__inputs">
            <label>
                <input required v-model="username" class="input" type="text" placeholder="Ваше имя">
            </label>
            <label>
                <input required v-model="number" class="input" type="text" placeholder="Контактный номер телефона">
            </label>
        </div>
        <div class="form-question-form__action">
            <button class="btn btn--red">
                Оформить заявку
            </button>
        </div>
    </form>
</template>

<script>
export default {
    props: [
        'action'
    ],
    data() {
        return {
            username: '',
            number: ''
        };
    },
    methods: {
        formSubmit(e) {
            let currentObj = this;
            axios.post(this.action, {
                username: this.username,
                number: this.number
            })
                .then(function (response) {
                    Vue.swal('Спасибо. Ваша заявка принята.');
                })
                .catch(function (error) {
                    console.log('err');
                });
        }
    }
}
</script>
