<template>
    <section class="section goals">
        <div class="container">
            <h2 class="section-header section-header--center">
                Цели финансирования
            </h2>
            <!-- /.section-header -->
            <div class="goals-wrap">
                <div class="row">
                    <div class="goals-col">
                        <div class="goals-item">
                            <h3 class="goals-item__title">
									<span>
										На исполнение<br>
										контрактов
									</span>
                            </h3>
                            <!-- /.goals-item__title -->
                            <p class="goals-item__description">
                                Займы на исполнение контрактов по 44-ФЗ, 223-ФЗ, коммерческие контракты
                            </p>
                            <!-- /.goals-item__description -->
                            <a href="#modal-info-1" class="btn btn--white goals-item__more open-modal">
                                подробнее
                            </a>
                        </div>
                        <!-- /.goals-item -->
                    </div>
                    <!-- /.goals-col -->
                    <div class="goals-col">
                        <div class="goals-item">
                            <h3 class="goals-item__title">
									<span>
										Торговый и гос.<br>
										Факторинг
									</span>
                            </h3>
                            <!-- /.goals-item__title -->
                            <p class="goals-item__description">
                                Для производителей и поставщиков. Исполнение
                                обязательств по контрактам и договорам
                            </p>
                            <!-- /.goals-item__description -->
                            <a href="#modal-info-2" class="btn btn--white goals-item__more open-modal">
                                подробнее
                            </a>
                        </div>
                        <!-- /.goals-item -->
                    </div>
                    <!-- /.goals-col -->
                    <div class="goals-col">
                        <div class="goals-item">
                            <h3 class="goals-item__title">
									<span>
										Целевой.<br>
										Развитие компании
									</span>
                            </h3>
                            <!-- /.goals-item__title -->
                            <p class="goals-item__description">
                                Пополнение оборотных средств на цели развития компании.
                            </p>
                            <!-- /.goals-item__description -->
                            <a href="#modal-info-3" class="btn btn--white goals-item__more open-modal">
                                подробнее
                            </a>
                        </div>
                        <!-- /.goals-item -->
                    </div>
                    <!-- /.goals-col -->
                    <div class="goals-col">
                        <div class="goals-item">
                            <h3 class="goals-item__title">
									<span>
										Залоговый
									</span>
                            </h3>
                            <p class="goals-item__description">
                                Займы на выгодных условиях под залог любого транспорта и недвижимости. Займы на покупку
                                недвижимости.
                            </p>
                            <a href="#modal-info-4" class="btn btn--white goals-item__more open-modal">
                                подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal--info" id="modal-info-1">
            <div class="modal__title">
                Торговый 1
            </div>
            <!-- /.modal__title -->
            <div class="modal__description">
                Для производителей и поставщиков. Исполнение
                обязательств по контрактам и договорам
            </div>
            <!-- /.modal__description -->
            <div class="modal__text">
                Используйте на покупку товара для поставки, закупки материалов и оборудования. Для поставщиков сетей и
                государственных заказчиков. Финансируем выполнение контрактов на сумму до 30 млн.. Открытый, закрытый и
                закупочный факторинг. Гибкие условия и быстрое рассмотрение. Индивидуальный график платежей.
            </div>
            <form @submit.prevent="formSubmit">
                <div class="modal__text" style="
    width: 335px;
    display: inline-block;">
                    <input
                        v-model="number"
                        class="input"
                        value=""
                        autocomplete="off"
                        name="number" type="text" placeholder="Номер телефона">
                </div>
                <div class="modal__action" style="
    display: inline-block;
    margin-left: 15px;">
                    <button class="btn btn--red">
                        Перезвоните мне
                    </button>
                </div>
            </form>
        </div>

        <div class="modal modal--info" id="modal-info-2">
            <div class="modal__title">
                Торговый 2
            </div>
            <!-- /.modal__title -->
            <div class="modal__description">
                Для производителей и поставщиков. Исполнение
                обязательств по контрактам и договорам
            </div>
            <!-- /.modal__description -->
            <div class="modal__text">
                Используйте на покупку товара для поставки, закупки материалов и оборудования. Для поставщиков сетей и
                государственных заказчиков. Финансируем выполнение контрактов на сумму до 30 млн.. Открытый, закрытый и
                закупочный факторинг. Гибкие условия и быстрое рассмотрение. Индивидуальный график платежей.
            </div>
            <form @submit.prevent="formSubmit">
                <div class="modal__text" style="
    width: 335px;
    display: inline-block;">
                    <input
                        v-model="number"
                        class="input"
                        value=""
                        autocomplete="off"
                        name="number" type="text" placeholder="Номер телефона">
                </div>
                <div class="modal__action" style="
    display: inline-block;
    margin-left: 15px;">
                    <button class="btn btn--red">
                        Перезвоните мне
                    </button>
                </div>
            </form>
        </div>
        <div class="modal modal--info" id="modal-info-3">
            <div class="modal__title">
                Торговый 3
            </div>
            <!-- /.modal__title -->
            <div class="modal__description">
                Для производителей и поставщиков. Исполнение
                обязательств по контрактам и договорам
            </div>
            <!-- /.modal__description -->
            <div class="modal__text">
                Используйте на покупку товара для поставки, закупки материалов и оборудования. Для поставщиков сетей и
                государственных заказчиков. Финансируем выполнение контрактов на сумму до 30 млн.. Открытый, закрытый и
                закупочный факторинг. Гибкие условия и быстрое рассмотрение. Индивидуальный график платежей.
            </div>
            <form @submit.prevent="formSubmit">
                <div class="modal__text" style="
    width: 335px;
    display: inline-block;">
                    <input
                        v-model="number"
                        class="input"
                        name="number"
                        value=""
                        autocomplete="off"
                        type="text" placeholder="Номер телефона">
                </div>
                <div class="modal__action" style="
    display: inline-block;
    margin-left: 15px;">
                    <button class="btn btn--red">
                        Перезвоните мне
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal -->

        <div class="modal modal--info" id="modal-info-4">
            <div class="modal__title">
                Торговый 4
            </div>
            <!-- /.modal__title -->
            <div class="modal__description">
                Для производителей и поставщиков. Исполнение
                обязательств по контрактам и договорам
            </div>
            <!-- /.modal__description -->
            <div class="modal__text">
                Используйте на покупку товара для поставки, закупки материалов и оборудования. Для поставщиков сетей и
                государственных заказчиков. Финансируем выполнение контрактов на сумму до 30 млн.. Открытый, закрытый и
                закупочный факторинг. Гибкие условия и быстрое рассмотрение. Индивидуальный график платежей.
            </div>

                <div class="modal__text" style="
    width: 335px;
    display: inline-block;">
                    <input
                        v-model="number"
                        class="input" name="number"
                        type="text"
                        value=""
                        autocomplete="off"
                        placeholder="Номер телефона">
                </div>
                <div class="modal__action" style="
    display: inline-block;
    margin-left: 15px;">
                    <button class="btn btn--red">
                        Перезвоните мне
                    </button>
                </div>

        </div>
    </section>
</template>
<script>
    export default {
        props: [
            'action'
        ],
        data() {
            return {
                number: ''
            };
        },
        created() {

        },
        methods: {
            formSubmit(e) {
                let currentObj = this;
                axios.post(this.action, {
                    number: this.number
                })
                    .then(function (response) {
                        $.fancybox.close();
                        Vue.swal('Спасибо. Ваша заявка принята.');
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            }
        }
    }
</script>
