<template>
    <form @submit.prevent="formSubmit" class="steps-form">
        <div class="steps-form__title">
            Нужны деньги на исполнение контракта или развитие бизнеса ?
        </div>
        <div class="steps-form__text">
            Предварительное рассмотрение по ИНН. Отправьте заявку на заём прямо сейчас!
        </div>
        <div class="steps-form__inputs">
            <label>
                <Prompt @sendData="getData" :classInput="'input'"/>
            </label>
            <label>
                <PromptEmail
                    :id="'modal-request-email'"
                    :placeholder="'Введите e-mail'"
                    @sendEmail="getEmail"/>
            </label>
            <label>
                <input v-model="number" required class="input" type="text" placeholder="Телефон">
            </label>
        </div>
        <div class="steps-form__action">
            <button class="btn btn--red">
                Оформить заявку
            </button>
        </div>
        <div class="form-question-form__privacy" style="margin-top: 45px;">
            Нажимая кнопку «Отправить заявку», я соглашаюсь с условиями
            пользовательского соглашения, даю согласие на обработку
            персональных данных и соглашаюсь c политикой конфиденциальности
        </div>
    </form>
</template>

<script>
    import Prompt from "../DadataRequest/Prompt";
    import PromptEmail from "../DadataRequest/PromptEmail";

    export default {
        components: {
            Prompt,
            PromptEmail
        },
        props: [
            'action'
        ],
        data() {
            return {
                inn: '',
                email: '',
                number: ''
            };
        },
        created() {
        },
        methods: {
            formSubmit(e) {
                let currentObj = this;
                axios.post(this.action, {
                    inn: this.inn,
                    email: this.email,
                    number: this.number
                })
                    .then(function (response) {
                        Vue.swal('Спасибо. Ваша заявка принята.');
                    })
                    .catch(function (error) {
                        console.log('err');
                    });
            },
            getData(data) {
                if (data.data) {
                    this.inn = data.data.inn
                }
            },
            getEmail(data) {
                this.email = data;
            }
        }
    }
</script>
