<template>
    <form @submit.prevent="formSubmit" class="">
        <div class="main-form__input">
                <Prompt @sendData="getData"/>
        </div>
        <div class="main-form__action">
            <button class="btn btn--red">
                Оформить заявку
            </button>
        </div>
    </form>
</template>

<script>
    import Prompt from "../DadataRequest/Prompt";

    export default {
        components: {
            Prompt
        },
        props: [
            'action'
        ],
        data() {
            return {
                inn: '',
                address: '',
                ogrn: '',
                name: '',
                companyName: ''
            };
        },
        methods: {
            formSubmit(e) {
                this.$cookie.set(
                    'inn', this.inn, 999);
                this.$cookie.set(
                    'address', this.address, 999);
                this.$cookie.set(
                    'ogrn', this.ogrn, 999);
                this.$cookie.set(
                    'name', this.name, 999);
                this.$cookie.set(
                    'companyName', this.companyName, 999);
                let currentObj = this;
                axios.post('/is-auth', {})
                    .then(function (response) {
                        if(response.data) {
                            document.location.href = '/';
                        }
                        else {
                            document.location.href = currentObj.action;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getData(data) {
                if(data.data) {
                    this.address = data.data.address ? data.data.address.unrestricted_value : '';
                    this.ogrn = data.data.ogrn;
                    this.name = data.data.management ? data.data.management.name : '';
                    this.companyName = data.data.name.short_with_opf ? data.data.name.short_with_opf : '';
                    this.inn = data.data.inn;
                }
            }
        }
    }
</script>
